.post-date{
	background-image:linear-gradient(to right, #DF691A , #2B3E50);
	padding:4px
	margin:3px 0;
	display: block;
}

.navbar a {
    font-size: 15;
    padding:10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.titles{
	font-family: "Comic Sans MS", cursive, sans-serif;
}